<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :supervisor %><br>
    <%= f.check_box :supervisor %>
  </div>
  <div class="field">
    <%= f.label :tco %><br>
    <%= f.check_box :tco %>
  </div>
  <div class="field">
    <%= f.label :fmu %><br>
    <%= f.check_box :fmu %>
  </div>
  <div class="field">
    <%= f.label :ticketer %><br>
    <%= f.check_box :ticketer %>
  </div>
  <div class="field">
    <%= f.label :airport_id_id %><br>
    <%= f.text_field :airport_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
