<p id="notice"><%= notice %></p>

<p>
  <strong>Airport:</strong>
  <%= @metric.airport_id %>
</p>

<p>
  <strong>Baggage overall actual:</strong>
  <%= @metric.baggage_overall_actual %>
</p>

<p>
  <strong>Baggage delayed actual:</strong>
  <%= @metric.baggage_delayed_actual %>
</p>

<p>
  <strong>Baggage damaged actual:</strong>
  <%= @metric.baggage_damaged_actual %>
</p>

<p>
  <strong>Baggage pilfered actual:</strong>
  <%= @metric.baggage_pilfered_actual %>
</p>

<p>
  <strong>Xplane checkin actual:</strong>
  <%= @metric.xplane_checkin_actual %>
</p>

<p>
  <strong>Xplane boarding actual:</strong>
  <%= @metric.xplane_boarding_actual %>
</p>

<p>
  <strong>Door opening dot3 actual:</strong>
  <%= @metric.door_opening_dot3_actual %>
</p>

<p>
  <strong>Door opening dot5 actual:</strong>
  <%= @metric.door_opening_dot5_actual %>
</p>

<p>
  <strong>Otp all d0 actual:</strong>
  <%= @metric.otp_all_d0_actual %>
</p>

<p>
  <strong>Otp all d15 actual:</strong>
  <%= @metric.otp_all_d15_actual %>
</p>

<p>
  <strong>Otp exc d0 actual:</strong>
  <%= @metric.otp_exc_d0_actual %>
</p>

<p>
  <strong>Otp exc d15 actual:</strong>
  <%= @metric.otp_exc_d15_actual %>
</p>

<p>
  <strong>Baggage overall target:</strong>
  <%= @metric.baggage_overall_target %>
</p>

<p>
  <strong>Baggage delayed target:</strong>
  <%= @metric.baggage_delayed_target %>
</p>

<p>
  <strong>Baggage damaged target:</strong>
  <%= @metric.baggage_damaged_target %>
</p>

<p>
  <strong>Baggage pilfered target:</strong>
  <%= @metric.baggage_pilfered_target %>
</p>

<p>
  <strong>Xplane checkin target:</strong>
  <%= @metric.xplane_checkin_target %>
</p>

<p>
  <strong>Xplane boarding target:</strong>
  <%= @metric.xplane_boarding_target %>
</p>

<p>
  <strong>Door opening dot3 target:</strong>
  <%= @metric.door_opening_dot3_target %>
</p>

<p>
  <strong>Door opening dot5 target:</strong>
  <%= @metric.door_opening_dot5_target %>
</p>

<p>
  <strong>Otp all d0 target:</strong>
  <%= @metric.otp_all_d0_target %>
</p>

<p>
  <strong>Otp all d15 target:</strong>
  <%= @metric.otp_all_d15_target %>
</p>

<p>
  <strong>Otp exc d0 target:</strong>
  <%= @metric.otp_exc_d0_target %>
</p>

<p>
  <strong>Otp exc d15 target:</strong>
  <%= @metric.otp_exc_d15_target %>
</p>

<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
