<%= fields_for "turn", turn do |turn| %>


  <div class="field">
    <%= turn.label :aircraft %><br>
    <%= turn.text_field :aircraft %>
  </div>
  <div class="field">
    <%= turn.label :arrival %><br>
    <%= turn.text_field :arrival %>
  </div>
  <div class="field">
    <%= turn.label :departure %><br>
    <%= turn.text_field :departure %>
  </div>
  <div class="field">
    <%= turn.label :gate %><br>
    <%= turn.text_field :gate %>
  </div>
  <div class="actions">
    <%= turn.submit %>
  </div>
<% end %>
