<%= form_for(@departure) do |f| %>
  <% if @departure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departure.errors.count, "error") %> prohibited this departure from being saved:</h2>

      <ul>
      <% @departure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flight_number %><br>
    <%= f.text_field :flight_number %>
  </div>
  <div class="field">
    <%= f.label :std %><br>
    <%= f.time_select :std %>
  </div>
  <div class="field">
    <%= f.label :etd %><br>
    <%= f.time_select :etd %>
  </div>
  <div class="field">
    <%= f.label :captain %><br>
    <%= f.text_field :captain %>
  </div>
  <div class="field">
    <%= f.label :fsm %><br>
    <%= f.text_field :fsm %>
  </div>
  <div class="field">
    <%= f.label :j_booked %><br>
    <%= f.text_field :j_booked %>
  </div>
  <div class="field">
    <%= f.label :w %><br>
    <%= f.text_field :w %>
  </div>
  <div class="field">
    <%= f.label :y_booked %><br>
    <%= f.text_field :y_booked %>
  </div>
  <div class="field">
    <%= f.label :total_booked %><br>
    <%= f.text_field :total_booked %>
  </div>
  <div class="field">
    <%= f.label :j_meals %><br>
    <%= f.text_field :j_meals %>
  </div>
  <div class="field">
    <%= f.label :w_meals %><br>
    <%= f.text_field :w_meals %>
  </div>
  <div class="field">
    <%= f.label :y_meals %><br>
    <%= f.text_field :y_meals %>
  </div>
  <div class="field">
    <%= f.label :total_meals %><br>
    <%= f.text_field :total_meals %>
  </div>
  <div class="field">
    <%= f.label :j_sby %><br>
    <%= f.text_field :j_sby %>
  </div>
  <div class="field">
    <%= f.label :w_sby %><br>
    <%= f.text_field :w_sby %>
  </div>
  <div class="field">
    <%= f.label :y_sby %><br>
    <%= f.text_field :y_sby %>
  </div>
  <div class="field">
    <%= f.label :total_sby %><br>
    <%= f.text_field :total_sby %>
  </div>
  <div class="field">
    <%= f.label :specials %><br>
    <%= f.text_area :specials %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
