<p id="notice"><%= notice %></p>

<h1>Listing Departures</h1>

<table>
  <thead>
    <tr>
      <th>Flight number</th>
      <th>Std</th>
      <th>Etd</th>
      <th>Captain</th>
      <th>Fsm</th>
      <th>J booked</th>
      <th>W</th>
      <th>Y booked</th>
      <th>Total booked</th>
      <th>J meals</th>
      <th>W meals</th>
      <th>Y meals</th>
      <th>Total meals</th>
      <th>J sby</th>
      <th>W sby</th>
      <th>Y sby</th>
      <th>Total sby</th>
      <th>Specials</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departures.each do |departure| %>
      <tr>
        <td><%= departure.flight_number %></td>
        <td><%= departure.std %></td>
        <td><%= departure.etd %></td>
        <td><%= departure.captain %></td>
        <td><%= departure.fsm %></td>
        <td><%= departure.j_booked %></td>
        <td><%= departure.w %></td>
        <td><%= departure.y_booked %></td>
        <td><%= departure.total_booked %></td>
        <td><%= departure.j_meals %></td>
        <td><%= departure.w_meals %></td>
        <td><%= departure.y_meals %></td>
        <td><%= departure.total_meals %></td>
        <td><%= departure.j_sby %></td>
        <td><%= departure.w_sby %></td>
        <td><%= departure.y_sby %></td>
        <td><%= departure.total_sby %></td>
        <td><%= departure.specials %></td>
        <td><%= link_to 'Show', departure %></td>
        <td><%= link_to 'Edit', edit_departure_path(departure) %></td>
        <td><%= link_to 'Destroy', departure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departure', new_departure_path %>
