<p id="notice"><%= notice %></p>

<p>
  <strong>Flight number:</strong>
  <%= @departure.flight_number %>
</p>

<p>
  <strong>Std:</strong>
  <%= @departure.std %>
</p>

<p>
  <strong>Etd:</strong>
  <%= @departure.etd %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @departure.captain %>
</p>

<p>
  <strong>Fsm:</strong>
  <%= @departure.fsm %>
</p>

<p>
  <strong>J booked:</strong>
  <%= @departure.j_booked %>
</p>

<p>
  <strong>W:</strong>
  <%= @departure.w %>
</p>

<p>
  <strong>Y booked:</strong>
  <%= @departure.y_booked %>
</p>

<p>
  <strong>Total booked:</strong>
  <%= @departure.total_booked %>
</p>

<p>
  <strong>J meals:</strong>
  <%= @departure.j_meals %>
</p>

<p>
  <strong>W meals:</strong>
  <%= @departure.w_meals %>
</p>

<p>
  <strong>Y meals:</strong>
  <%= @departure.y_meals %>
</p>

<p>
  <strong>Total meals:</strong>
  <%= @departure.total_meals %>
</p>

<p>
  <strong>J sby:</strong>
  <%= @departure.j_sby %>
</p>

<p>
  <strong>W sby:</strong>
  <%= @departure.w_sby %>
</p>

<p>
  <strong>Y sby:</strong>
  <%= @departure.y_sby %>
</p>

<p>
  <strong>Total sby:</strong>
  <%= @departure.total_sby %>
</p>

<p>
  <strong>Specials:</strong>
  <%= @departure.specials %>
</p>

<%= link_to 'Edit', edit_departure_path(@departure) %> |
<%= link_to 'Back', departures_path %>
