
<% content_for :title do %><%= params[:name] %><% end %>

<div class="gridster">
  <ul>

    <%= render "airport_info" %>
    <%= render "departure_1" %>
    <%= render "departure_2" %>
    <%= render "daily_assignments" %>


  </ul>
  <div data-id="ticker_<%= params[:name] %>" data-view="Ticker" style="display: none;" ></div>
</div>
