

<div class="gridster">
  <ul>

    <%= render "airport_info" %>
    <%= render "baggage_kpi" %>
    <%= render "xplane_kpi" %>
    <%= render "door_opening_kpi" %>
    <%= render "on_time_performance_kpi" %>
    <%= render "daily_assignments" %>



  </ul>
</div>
