<%= form_for [@airport, @operation] do |f| %>

  <div class="field">
    <%= f.label :airport_id %><br>
    <%= f.text_field :airport_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :staff_assignment %><br>
    <%= f.number_field :staff_assignment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<table>
<tr>
<th>turn</th>
<th>arrival</th>
<th>departure</th>
</tr>
<% @turns.each do |turn| %>
<tr>
<td></td>
<td>
<%= form_for [@airport, turn.arrival] do |f| %>

  <div class="field">
    <%= f.label :flight_number %><br>
    <%= f.text_field :flight_number %>
  </div>
  <div class="field">
    <%= f.label :sta %><br>
    <%= f.time_select :sta %>
  </div>
  <div class="field">
    <%= f.label :eta %><br>
    <%= f.time_select :eta %>
  </div>
  <div class="field">
    <%= f.label :captain %><br>
    <%= f.text_field :captain %>
  </div>
  <div class="field">
    <%= f.label :fsm %><br>
    <%= f.text_field :fsm %>
  </div>
  <div class="field">
    <%= f.label :j_booked %><br>
    <%= f.text_field :j_booked %>
  </div>
  <div class="field">
    <%= f.label :w_booked %><br>
    <%= f.text_field :w_booked %>
  </div>
  <div class="field">
    <%= f.label :y_booked %><br>
    <%= f.text_field :y_booked %>
  </div>
  <div class="field">
    <%= f.label :total_booked %><br>
    <%= f.text_field :total_booked %>
  </div>
  <div class="field">
    <%= f.label :specials %><br>
    <%= f.text_area :specials %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </td>
  <td></td>
  </tr>
<% end %>



<% end %>
</table>

