<p id="notice"><%= notice %></p>

<h1>Listing Operations</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Date</th>
      <th>Staff assignment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.airport_id %></td>
        <td><%= operation.date %></td>
        <td><%= operation.staff_assignment %></td>
        <td><%= link_to 'Show', airport_operation_path(id: operation.id) %></td>
        <td><%= link_to 'Edit', edit_airport_operation_path(id: operation.id) %></td>
        <td><%= link_to 'Destroy', airport_operation_path(id: operation.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_airport_operation_path %>
