<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @operation.airport_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @operation.date %>
</p>

<p>
  <strong>Staff assignment:</strong>
  <%= @operation.staff_assignment %>
</p>

<%= link_to 'Edit', edit_airport_operation_path(params[:airport_id], @operation) %> |
<%= link_to 'Back', airport_operations_path %>
